@using CarolinesBank.Webb.ViewModels
@model AccountViewModel

    <article class="row">
        <br />
        <label class="col-5"> Balance</label>
        <input class="col-6" asp-for="@Model.CurrentAccount.Balance" />

    </article>