@using CarolinesBank.Webb.ViewModels
@model CustomersViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p> Carolines Riesten</p>
</div>

<h2> Förteckning över kunder </h2>
<ul>

    @foreach (var customer in Model.ListOfCurrentCustomers)
    {
        <li> <h4> Kund </h4></li>
        <li> KundID: @customer.CustomerId</li>
        <li>Namn: @customer.Name</li>
        <li><h4> Accounts </h4> </li>
        foreach (var account in customer.CustomerAccounts)
        {
            <li>KontoId: @account.AccountId</li>
            <li>Saldo: @account.Balance</li>
        }
    }

</ul>